<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForHer</title>
    <h1>ForHer</h1>

</head>
<body>
    
<img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSKNjffEbIRDRge9piojq3PVLQBvjIYiL97QC4SCCHqW6GeWT-6n0hoVHxmRs8T3OmOerupokrNaOCtzduQBsGrdcIiq8heGccLoNYIi2q4xqqOYm4vDR3mMg&usqp=CAE" style="width:20%">
<h2>clothes</h2>

<img src="https://ibacosmetics.com/cdn/shop/products/CompleteMakeupBox.jpg?v=1675149304&width=533" style="width:20%">
<h2>makeup</h2>
<a href="/product">

<img src="https://static.ffx.io/images/$zoom_0.614%2C$multiply_2%2C$ratio_1.5%2C$width_756%2C$x_392%2C$y_355/t_crop_custom/c_scale%2Cw_1100%2Cq_88%2Cf_auto/a021e0dcf5dae6db7414714666cf2a925b48a63c" style="width:20%">
<h2>shoes</h2>
</div>
</body>
</html>